.teal{color: #28768b;}
.red{color: #ff252e;}
.violet{color: #453a7f;}
.white{color:#ffffff;}
.black{color:#000000;}

$teal: #28768b;
$red: #ff252e;
$violet: #453a7f;
$white: #ffffff;
$black: #000000;
$lightgray: #e4e4e4;